boto3
ephemeral-port-reserve >= 1.1.0
importlib-resources==5.4.0
pyinotify==0.9.6
PyYAML >= 5.1
requests>=2.18.4
typing-extensions==4.13.2
# To resolve the error: botocore 1.29.125 has requirement urllib3<1.27,>=1.25.4, but you'll have urllib3 2.0.1 which is incompatible.
urllib3==1.26.15
